@import '../../styles/variables';

.article-content {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 75px;
  margin-bottom: 35px;

  .article-title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #363636;
    text-align: center;
    margin-bottom: 30px;
  }

  .article-body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    text-align: justify;
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .article-content {
    padding: 50px 40px;
  }
}

@media (max-width: 768px) {
  .article-content {
    padding: 30px 20px;

    .article-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .article-body {
      font-size: 16px;
    }
  }
}

